*
  box-sizing: border-box
  font-family: Raleway, -apple-system, system, sans-serif

body
  margin: 0

#content
  width: 480px
  margin: 0 auto

h1
  height: 75px
  margin-bottom: 0.5em
  font-size: 5em
  background-repeat: no-repeat
  background-position: 2px

a
  color: #3f894a
  text-decoration: none
  border-bottom: 1px solid rgba(0, 0, 0, 0)
  &:hover
    color: #27552e
    border-bottom: 1px solid #27552e

kbd
  display: inline-block
  min-width: 1.8em
  text-align: center
  padding: 0.3em 0.5em
  margin-top: 0.2em
  margin-right: 0.5em

  border: 1px solid gray
  border-radius: 3px
  background-color: white

$desktop-info-width: 12em

main
  position: relative
  margin: 0 auto
  width: calc(var(--columns) * 2em + #{$desktop-info-width})
  min-height: 100vh

  border-left: 1px solid lightgray
  border-right: 1px solid lightgray
  background-color: rgb(244, 244, 244)

  display: grid
  grid-template-columns: 1fr $desktop-info-width
  grid-column-gap: 1em

  button
    position: absolute
    top: 50%
    left: 50% // relative to parent’s width
    transform: translate(-50%, -50%) // relative to the element’s width and height

    padding: 1em

    border: 2px solid black;
    background-color: white

    font-size: medium

    z-index: 10

#info
  display: grid
  grid-row-gap: 0.6em
  grid-template-rows: repeat(3, auto) 1fr

  color: rgb(255, 255, 255)
  font-weight: bold

  & > div
    padding: 0.9em
    background: rgb(9, 86, 142)

#next-piece
  width: 6em
  height: 6em
  margin: 0 auto
  display: grid
  grid-gap: 0.1em

  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(4, 1fr)

  padding: 0.3em !important
  background: transparent !important

#board
  height: calc(var(--rows) * 2em)

  display: grid
  grid-template-rows: repeat(var(--rows), 1fr)
  grid-template-columns: repeat(var(--columns), 1fr)
  grid-gap: 1px

  transition: opacity 0.2s ease-out

  &.lost
    opacity: 20%
    transition: opacity 0.3s ease-out

$piece-color: rgb(101, 180, 28)
$piece-on-board-color: rgb(217, 67, 67)

div.square
  border: 1px solid lightgray
  background-color: white

  &.piece.occupied
    border-color: $piece-color
    background-color: $piece-color

  &.occupied
    border-color: $piece-on-board-color
    background-color: $piece-on-board-color

#help
  grid-column: span 2

  padding: 1em
  display: grid
  grid-gap: 0.3em
  grid-template-columns: repeat(2, 1fr)

$mobile-portrait-board-width: 90vw

// Breakpoint taken from bootstrap: this query includes "extra small" and
// "small" devices.
//
// See
// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
@media (max-width: 768px) and (orientation: portrait)
  main
    width: $mobile-portrait-board-width

    grid-template-columns: 1fr
    grid-row-gap: 0.5em

  #board
    height: calc(var(--rows) / var(--columns) * #{$mobile-portrait-board-width})

  #info
    grid-template-columns: 1fr 1fr
    grid-gap: 0.2em

  #help
    display: none

$mobile-landscape-board-height: 95vh

@media (max-width: 768px) and (orientation: landscape)
  main
    height: $mobile-landscape-board-height

    grid-template-columns: 1fr ($desktop-info-width + 4em)
    grid-gap: 0

  #board
    width: calc(var(--columns) / var(--rows) * #{$mobile-landscape-board-height})
    height: $mobile-landscape-board-height
    justify-self: center

  #help
    display: none

#touch-areas
  position: absolute
  width: 100vw
  height: 100vh

  left: 50%
  transform: translateX(-50%)

  display: grid
  grid-template: "turn turn" 1fr "left right" 7fr "down down" 1fr "drop drop" 1fr

#turn-piece
  grid-area: turn

#move-left
  grid-area: left

#move-right
  grid-area: right

#move-down
  grid-area: down

#drop-piece
  grid-area: drop
