*
  box-sizing: border-box
  font-family: -apple-system, system, sans-serif

body
  margin: 0

#content
  width: 480px
  margin: 0 auto

h1
  height: 75px
  margin-bottom: 0.5em
  font-size: 5em
  background-repeat: no-repeat
  background-position: 2px

a
  color: #3f894a
  text-decoration: none
  border-bottom: 1px solid rgba(0, 0, 0, 0)
  &:hover
    color: #27552e
    border-bottom: 1px solid #27552e

main
  margin: 0 auto
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: rgb(244, 244, 244);

  button
    display: block
    margin: 0 auto
    border: 2px solid black;
    background-color: white

div.board
  width: 100%
  height: 100%
  display: grid
  grid-gap: 0.1em

div.square
  border: 2px solid black
  border-radius: 0.3em
  background-color: white

  &.piece.occupied
    background-color: black

  &.occupied
    background-color: gray
